epel-release
centos-release-scl
wget
yum-utils
python-devel
libcurl-devel
libffi-devel
xz
xz-devel
ncurses-devel
zlib-devel
texinfo 
gtk+-devel
gtk2-devel
qt-devel
tcl-devel
tk-devel
kernel-headers
kernel-devel
readline-devel
